# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Twitter Credentials
TWITTER_CLIENT_ID=T3RPeWRlZ0RhaWRUbU5JdVdiWFg6MTpjaQ
TWITTER_CLIENT_SECRET=GnQva9fSXE9LiYO4jDcfeHFAo7TG_h3Lb7PsWH0uUHvQhtDZRe

# LinkedIn Credentials
LINKEDIN_CLIENT_ID=...
LINKEDIN_CLIENT_SECRET=...

# etc...
